<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Cities around the World</title>
</head>
<body>
        <% for (let city of cities) { %> 
                <% if (city.id % 2 == 0){ %>
                        <div class="card w-25 shadow m-2">
                                <img src="<%=city.image%>"  alt="<%=city.city%> Image" class="card-img-top">
                                <div class="card-body">
                                        <h4 class="card-title"><%=city.city%></h4>
                                        <p class="card-text"><%=city.description%></p>
                                        <a href="<%=city.link %> " target="_blank" class="card-link text-decoration-none">Know more</a>
                                </div>
                        </div>
                <% } %> 
        <% } %> 
        
</body>
</html>